@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lobster&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');
:root {
	/* Fonts */
	--font-sans: 'IBM Plex Sans', 'Source Sans Pro', Roboto, 'Helventica Neue', Arial, sans-serif;
	--font-condensed: 'IBM Plex Sans Condensed', 'Roboto Condensed', Oswald, Tomaha, sans-serif;
	--font-cursive: 'Lobster', var(--font-condensed);
	--font-mono: 'IBM Plex Mono', 'Roboto Mono', 'SF Mono', 'Liberation Mono', Menlo, monospace;
	/* Colors */
	--dark: #122033;
	--light: #fff;
	--light-gray: #FCFDFD;
	--midnight: #122033;
	--matt-blue: #202C40;
	--charcol:  #3d3d3d;
	--granite: #678598;
	--ocean: #00588a;
	--sky: #008fd5;
	--ice: #69badf;
	--water: #abe1fa;
	--water-rgb: rgb(169.0, 225.0, 251.0);
	--steel: #8fb0c5;
	--ash: #94a3ac;
	--silver: #dcddde;
	--cloud: #f2f6f8;
	--border: rgb(128, 128, 128);
	--avocado: #67952e;
	--grass: #9bcb40;
	--lime: #c8da2b;
	--plum: #96157c;
	--plum-rgb: rgb(152.0, 9.0, 125.0);
	--gum: #d0167c;
	--gum-rgb: rgb(210.0, 6.0, 124.0);
	--brick: #b02a30;
	--valencia: #f58320;
	--gold: #faa61a;

	/* Link Colors */
	--link-blue: #C4E5F5;
	--link-gray: #F1F5F6;
	--link-yellow: #FFD081;
}

h1, h2, h3, thead {
	font-family: var(--font-condensed);
}

h4, h5, h6, p, td, li, div, span, a {
	font-family: var(--font-sans);
}

a {
	background-color: var(--link-blue);
	border-bottom: 1px solid var(--ice);
	color: var(--midnight);
	text-decoration: none;
	padding: 5px 10px;
}

a:hover, a:focus {
	background-color: var(--link-yellow);
	color: var(--midnight);
	border-bottom: 1px solid var(--gold);
	text-decoration: none;
}

a:focus-within {
	background-color: var(--valencia);
	color: var(--midnight);
	border-bottom: 1px solid var(--gold);
	text-decoration: none;
}

/* a:visited {
	background-color: var(--silver);
	color: var(--midnight);
	border-bottom: 1px solid var(--ash);
	text-decoration: none;
} */

body {
	background-color: var(--cloud);
	color: var(--charcol);
	margin: 0;
	font-family: var(--font-sans);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	width: 100%;
	height: 100%;
	text-transform: capitalize;
}

body > * > table#hnmain {
	margin: 3% 10%;
	padding:  2rem;
	color: var(--charcol);
	border-radius: 20px;
	background-color: var(--light-gray);
	box-shadow:  11px 11px 40px #d1d1d1,
	11px 11px 40px #d1d1d1,
	-11px -11px 40px #d1d1d1,
	-11px -11px 40px #d1d1d1;
}

table#hnmain > tbody > tr > td > table > tbody > tr {
	/* border-spacing: 20em; */
}

table.itemlist > tbody > tr > td {
	border-collapse: separate;
	border-top-width: 3em;
}

table.itemlist {
	width: 100%;
}


tr#pagespace {
	padding: 1rem;
}

tr.spacer * {
	padding-bottom: 100px;
}

tr > td.title {

}

tr.athing {
	border-color: var(--border);
	border-top:  10px solid var(--ocean) !important;
	border-right-color: var(--border );
	border-bottom-color: var(--border);
	border-left-color: var(--border);
	padding-top: 30px !important;
}


span > a {
	color: var(--green);
}

b {
	color: var(--matt-blue);
	border-left: 2px solid var(--matt-blue);
	padding-left: 10px;
}

body > b, body > a {
	margin-left: 12%;
}

body > b:first-child {
	padding-top: 5em;
	text-align: center;
}

/* Forms */
form {
	padding: 3em;
	margin: 3% 10%;
	color: var(--charcol);
	border-radius: 20px;
	background-color: var(--light-gray);
	box-shadow:  11px 11px 40px #d1d1d1,
	11px 11px 40px #d1d1d1,
	-11px -11px 40px #d1d1d1,
	-11px -11px 40px #d1d1d1;
}

form > table {
	width: 100%;
}

form > table > tbody > tr > td {
	text-transform: capitalize;
	font-family: var(--font-condensed);
	text-align: right;
	max-width: 10%;
	padding-right: 10%;
}
form > table > tbody > tr > td > input {
	min-width: 80%;
}
input[type="text"], input[type="password"], input[type="textarea"], input[type="number"] {
	min-width: 100%;
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type="submit"] {
	width: 100%;
	font-family: var(--font-condensed);
	text-transform: uppercase;
	border-radius: 5px;
	padding: 0.7rem 1rem;
	margin: 1rem;
	font-size: 1rem;
	cursor: pointer;
	box-shadow: var(--link-gray) 0 -3px 0 0 inset;
}

input[type="submit"]:hover {
	width: 100%;
	font-family: var(--font-condensed);
	text-transform: uppercase;
	border-radius: 5px;
	padding: 0.7rem 1rem;
	margin: 1rem;
	font-size: 1rem;
	cursor: pointer;
	background: var(--link-blue);
	box-shadow: var(--ice) 0 -3px 0 0 inset;
	border-color: var(--ice);
}

input[type="submit"]:focus-within {
	width: 100%;
	font-family: var(--font-condensed);
	text-transform: uppercase;
	border-radius: 5px;
	padding: 0.7rem 1rem;
	margin: 1rem;
	font-size: 1rem;
	cursor: pointer;
	background: var(--link-blue);
	box-shadow: var(--link-blue) 0 -3px 0 0 inset;
	border-color: var(--link-blue);
}